*,
*::before,
*::after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

/* Custom Properties, update these for your own design */

:root {
    --ff-primary: 'Lora', serif;
    --ff-secondary: 'Roboto Slab', serif;
    --ff-tertiary: 'Fira Code', monospace;
    
    --fw-reg: 400;
    --fw-bold: 700;
    
    --color-light: #FAFAFA;
    --color-dark: #370075;
    --color-accent: #FDBA31;
    --color-black: #010101;
    
    --fs-h1: 3rem;
    --fs-h2: 2.25rem;
    --fs-h3: 1.25rem;
    --fs-body: 1rem;
    
    --bs: 0.25em 0.25em 0.75em rgba(0,0,0,.25),
          0.125em 0.125em 0.25em rgba(0,0,0,.15);
}

@media (min-width: 800px) {
    :root {
        --fs-h1: 4.5rem;
        --fs-h2: 3.75rem;
        --fs-h3: 1.5rem;
        --fs-body: 1.125rem;
    }
}

/* General styles */
html {
    scroll-behavior: smooth;
}

#root {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

body {
    background: var(--color-light);
    color: var(--color-dark);
    margin: 0;
    font-family: var(--ff-primary);
    font-size: var(--fs-body);
    line-height: 1.6;
}

section {
    padding: 5em 2em;
}

img {
    display: block;
    max-width: 100%;
}

a.active {
    color: var(--color-accent);
    text-decoration: underline;
    text-decoration-thickness: 2px;
    text-underline-offset: 3px;
}

strong { font-weight: var(--fw-bold) }

form, .admin-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1em;
    margin: 2em 0;
    padding: 1em;
    background-color: var(--color-dark);
    color: var(--color-light);
    border-radius: 5px;
    font-family: var(--ff-tertiary);
    width: min(90%, 800px);
}

form input, .admin-form input, form textarea, .admin-form textarea {
    padding: 0.5em;
    border-radius: 5px;
    border: none;
    outline: none;
    width: 100%;
}

form textarea, .admin-form textarea {
    min-height: 100px;
}

form button, .admin-form button {
    padding: 0.5em;
    border-radius: 5px;
    border: none;
    outline: none;
    background-color: var(--color-accent);
    transition: transform 200ms ease-in-out;
}

form button:hover, .admin-form button:hover {
    transform: scale(1.05);
}

/* Buttons */

.link-btn {
    display: block;
    width: fit-content;
    padding: 1em 2.5em;
    background: var(--color-accent);
    color: var(--color-light);
    text-decoration: none;
    cursor: pointer;
    font-size: 0.9rem;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-family: var(--ff-tertiary);
    font-weight: var(--fw-bold);
    transition: transform 200ms ease-in-out;
    margin: 5em auto 0;
    box-shadow: var(--bs);
}

.link-btn:hover {
    transform: scale(1.1);
}

/* Typography */

h1,
h2,
h3 {
    line-height: 1;
    margin: 0;
}

h1 { font-size: var(--fs-h1) }
h2 { font-size: var(--fs-h2) }
h3 { font-size: var(--fs-h3) }


.section__title {
    margin-bottom: .25em;
    align-self: center;
}

.section__title--intro {
    font-weight: var(--fw-reg);
}

.section__title--intro strong {
    display: block;
}

.section__subtitle {
    margin: 0;
    font-size: var(--fs-h3);
}

.section__subtitle--intro,
.section__subtitle--about {
    background-image: url(/public/bg_tag.svg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    padding: .25em 1em;
    font-family: var(--ff-secondary);
    margin-bottom: 1em;
    color: var(--color-light);
    width: 100%;
}

.section__subtitle--work {
    color: var(--color-accent);
    font-weight: var(--fw-bold);
    margin-bottom: 2em;
}

/* header */

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em;
    font-family: var(--ff-tertiary);
}

.logo__link {
    text-decoration: none;
    color: var(--color-dark);
    font-size: var(--fs-h3);
    margin: 0;
}

.nav {
    position: fixed;
    background: var(--color-dark);
    color: var(--color-light);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 100;
    
    transform: translateX(100%);
    transition: transform 250ms cubic-bezier(.5, 0, .5, 1);

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.nav__list {
    list-style: none;
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin: 0;
    padding: 0;
}

.nav__link {
    color: inherit;
    font-weight: var(--fw-bold);
    font-size: var(--fs-h2);
    text-decoration: none;
    padding: .5em;
}

.nav__link:hover {
    color: var(--color-accent);
}

.nav-toggle {
    padding: 1em;
    background: transparent;
    border: 0;
    cursor: pointer;
    position: absolute;
    right: 0.5em;
    top: 0.5em;
    z-index: 1000;
    border: none;
}

.nav-open .nav {
    transform: translateX(0);
}

.nav-open .nav-toggle {
    position: fixed;
}

.nav-open .hamburger {
    transform: rotate(.625turn);
}

.nav-open .hamburger::before {
    transform: rotate(90deg) translateX(-6px);
}

.nav-open .hamburger::after {
    opacity: 0;
}

.hamburger {
    display: block;
    position: relative;
}

.hamburger,
.hamburger::before,
.hamburger::after {
    background: var(--color-accent);
    width: 2em;
    height: 3px;
    border-radius: 1em;
    transition: transform 250ms ease-in-out;
}


.hamburger::before,
.hamburger::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
}

.hamburger::before { top: 6px; }
.hamburger::after { bottom: 6px; }

.large-screen-nav {
    display: none;
}

@media (min-width: 600px) {
    .nav {
        display: none;
    }

    .nav-toggle {
        display: none;
    }

    .large-screen-nav {
        display: flex;
        justify-content: center;
        align-items: center;
        line-height: 1;
        gap: 2em;
    }

    .nav__large-screen-link {
        font-weight: var(--fw-bold);
        text-decoration: none;
        color: var(--color-dark);
        transition: color 150ms ease-in-out;
    }

    .nav__large-screen-link:hover {
        color: var(--color-accent);
    }
}


/*  Intro section  */

.intro {
    position: relative;
}

.intro__img {
    filter: grayscale(100%) drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.3));
    animation: logo-spin infinite 20s linear;
}

@keyframes logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.section__subtitle--intro {
    display: inline-block;
    color: var(--color-light);
}

@media (max-width: 600px) {
    .intro {
        overflow: hidden;
    }

    .intro__img {
        min-width: 350px;
        z-index: -5;
        position: absolute;
        top: 8%;
        right: -45%;
        filter: grayscale(100%) drop-shadow(0 0 0 rgba(0, 0, 0, 0.3));
    }
}

@media (min-width: 600px) {
    .intro {
        display: grid;
        width: min-content;
        margin: 0 auto;
        grid-column-gap: 1em;
        grid-template-areas: 
            "img title"
            "img subtitle";
        grid-template-columns: min-content max-content;
    }
    
    .intro__img {
        grid-area: img;
        min-width: 250px;
        position: relative;
        z-index: 2;
    }    
    
    .section__subtitle--intro {
        position: relative;
        align-self: start;
        grid-area: subtitle;
        grid-row: 2;
        text-align: right;
        padding-right: 4em;
        width: 115%;
    }
}


/*  My services section  */

.my-services {
    background-color: var(--color-dark);
    background-size: cover;
    color: var(--color-light);
    text-align: center;
}

.section__title--services {
    color: var(--color-light);
    position: relative;
}

.section__title--services::after {
    content: '';
    display: block;
    width: 2em;
    height: 1px;
    margin: 0.5em auto 1em;
    background: var(--color-light);
    opacity: 0.25;
}

.services {
    margin-bottom: 4em;
}

.service {
    max-width: 400px;
    margin: 0 auto 2em;
}

.service h3 {
    margin-bottom: 0.5em;
    font-weight: 700;
}

@media (min-width: 800px) {
    .services {
        display: flex;
        max-width: 1500px;
        margin-left: auto;
        margin-right: auto;
    }
    
    .service + .service {
        margin-left: 2em;
    }

    .service {
        margin-bottom: 0;
    }
}


/*  Certificates section */

.certificates {
    background-color: var(--color-light);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 7em;
}

.section__title--certificates {
    color: var(--color-dark);
    position: relative;
}

.section__title--certificates::after {
    content: '';
    display: block;
    width: 2em;
    height: 1px;
    margin: 0.5em auto;
    background: var(--color-dark);
    opacity: 0.25;
}


/*  About me section  */

.about-me-container {
    background-color: var(--color-dark);
    color: var(--color-light);
}

.about-me {
    max-width: 1000px;
    margin: 0 auto;
}

.about-me__img {
    box-shadow: var(--bs);
}

@media (min-width: 600px) {
    .about-me {
        display: grid;
        grid-template-columns: 1fr 200px;
        grid-template-areas: 
            "title img"
            "subtitle img"
            "text img";
        grid-column-gap: 2em;
    }
    
    .section__title--about {
        grid-area: title;
    }
    
    .section__subtitle--about {
        grid-column: 1 / -1;
        grid-row: 2;
        position: relative;
        left: -1em;
        width: fit-content;
        padding-left: 1em;
        padding-right: 4em;
    }
    
    .about-me__img {
        grid-area: img;
        position: relative;
        z-index: 2;
    }
}


/* My Work */

.my-work {
    background-color: var(--color-dark);
    color: var(--color-light);
    text-align: center;
    min-height: 700px;
}

.portfolio {
    margin: 0 auto;
    max-width: 1000px;
    display: grid;
    grid-gap: 2em;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.portfolio__item {
    width: fit-content;
    background: var(--color-black);
    overflow: hidden;
}

.portfolio__img {
    transition: 
        transform 750ms cubic-bezier(.5, 0, .5, 1),
        opacity 250ms linear;
    object-fit: cover;
    height: 100%;
}

.portfolio__item:focus {
    position: relative;
    z-index: 2;
}

.portfolio__img:hover,
.portfolio__item:focus .portfolio__img {
    transform: scale(1.1);
    opacity: .5;
}


/* footer */

.footer {
    background: #111;
    color: var(--color-accent);
    text-align: center;
    padding: 2.5em 0;
    font-size: var(--fs-h3);
    margin-top: auto;
}

.footer a { 
    color: inherit;
    text-decoration: none;
}

.footer__link {
    font-weight: var(--fw-bold);
}

.footer__link:hover,
.social-list__link:hover {
    opacity: .7;
}

.footer__link:hover {
    text-decoration: underline;
}

.social-list {
    list-style: none;
    display: flex;
    justify-content: center;
    margin: 2em 0 0;
    padding: 0;
}

.social-list__item {
    margin: 0 .5em;
}

.social-list__link {
    padding: .5em;
}


/* Individual portfolio item styles */

.portfolio-intro {
    padding: 5em 2em 2em 2em;
}

.portfolio-item-individual {
    padding: 0 2em 2em;
    max-width: 1000px;
    margin: 0 auto;
}

.portfolio-item-individual p {
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
}

.portfolio-item-individual div {
    display: flex;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
}

.portfolio-item-individual a {
    margin-right: 0.8em;
    margin-bottom: 0.8em;
    font-size: 1rem;
    border: 1px solid var(--color-dark);
    color: var(--color-dark);
    padding: 0.25em 1em;
    text-decoration: none;
}

@media (min-width: 600px) {
    .project__img {
        grid-area: img;
        min-width: 250px;
        width: 100%;
        height: 100%;
        object-fit: contain;
        position: relative;
        z-index: 2;
    }

    .portfolio-intro .section__subtitle--intro {
        margin: 0;
        padding-left: 1em;
        text-align: left;
        width: 100%;
    }
}


/* Admin, Add Project and Add Certificate page */

.admin-container, .add-project-container, .add-certificate-container {
    font-family: var(--ff-tertiary);
    width: min(90%, 800px);
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.admin-container a, .add-project-container a, .add-certificate-container a {
    text-decoration: none;
    color: var(--color-dark);
    font-weight: var(--fw-bold);
    font-size: 1.25rem;
    margin-bottom: 1em;
}

.admin-container a:hover, .add-project-container a:hover, .add-certificate-container a:hover {
    text-decoration: underline;
}

.status-message {
    color: var(--color-accent);
    font-size: 1.25rem;
    font-family: var(--ff-tertiary);
    font-weight: var(--fw-bold);
    text-align: center;
    margin: 1em;
}

.admin-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1em;
    background-color: var(--color-dark);
    font-family: var(--ff-tertiary);
    color: var(--color-light);
    text-align: center;
    padding: 2.5em 0;
    width: min(90%, 900px);
    margin: 1em auto;
    border-radius: 5px;
}

.admin-email {
    color: var(--color-accent);
    line-height: 1.5;
}

.admin-page a {
    text-decoration: none;
    color: var(--color-light);
    font-weight: var(--fw-bold);
    font-size: 1.25rem;
}

.admin-page a:hover {
    text-decoration: underline;
}

.admin-page button {
    padding: 0.5em;
    border-radius: 5px;
    border: none;
    outline: none;
    background-color: var(--color-accent);
    transition: transform 200ms ease-in-out;
}

.admin-page button:hover {
    transform: scale(1.05);
}


/* Error Page */

.error-page {
    margin: 1em auto;
}

.error-page section {
    padding: 0;
}

.error-page h1 {
    text-align: center;
    margin: 30px 15px;
  }

.error-container {
  text-align: center;
  font-size: 106px;
  font-family: 'Catamaran', sans-serif;
  font-weight: 800;
  margin: 70px 15px;
}

.error-container > span {
  display: inline-block;
  position: relative;
}

.error-container > span.four {
  width: 136px;
  height: 43px;
  border-radius: 999px;
  background:
    linear-gradient(140deg, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0.07) 43%, transparent 44%, transparent 100%),
    linear-gradient(105deg, transparent 0%, transparent 40%, rgba(0, 0, 0, 0.06) 41%, rgba(0, 0, 0, 0.07) 76%, transparent 77%, transparent 100%),
    linear-gradient(to right, var(--color-accent), var(--color-accent), var(--color-dark), var(--color-dark));
}

.error-container > span.four:before,
.error-container > span.four:after {
  content: '';
  display: block;
  position: absolute;
  border-radius: 999px;
}

.error-container > span.four:before {
  width: 43px;
  height: 156px;
  left: 60px;
  bottom: -43px;
  background:
    linear-gradient(128deg, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0.07) 40%, transparent 41%, transparent 100%),
    linear-gradient(116deg, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0.07) 50%, transparent 51%, transparent 100%),
    linear-gradient(to top, var(--color-accent), var(--color-accent), var(--color-dark), var(--color-dark));
}

.error-container > span.four:after {
  width: 137px;
  height: 43px;
  transform: rotate(-49.5deg);
  left: -18px;
  bottom: 36px;
  background: linear-gradient(to right, var(--color-accent), var(--color-accent), var(--color-dark), var(--color-dark));
}

.error-container > span.zero {
  vertical-align: text-top;
  width: 156px;
  height: 156px;
  border-radius: 999px;
  background: linear-gradient(-45deg, transparent 0%, rgba(0, 0, 0, 0.06) 50%,  transparent 51%, transparent 100%),
    linear-gradient(to top right, var(--color-accent), var(--color-accent), var(--color-dark), var(--color-dark));
  overflow: hidden;
  animation: bgshadow 5s infinite;
}

.error-container > span.zero:before {
  content: '';
  display: block;
  position: absolute;
  transform: rotate(45deg);
  width: 90px;
  height: 90px;
  background-color: transparent;
  left: 0px;
  bottom: 0px;
  background:
    linear-gradient(95deg, transparent 0%, transparent 8%, rgba(0, 0, 0, 0.07) 9%, transparent 50%, transparent 100%),
    linear-gradient(85deg, transparent 0%, transparent 19%, rgba(0, 0, 0, 0.05) 20%, rgba(0, 0, 0, 0.07) 91%, transparent 92%, transparent 100%);
}

.error-container > span.zero:after {
  content: '';
  display: block;
  position: absolute;
  border-radius: 999px;
  width: 70px;
  height: 70px;
  left: 43px;
  bottom: 43px;
  background: #FDFAF5;
  box-shadow: -2px 2px 2px 0px rgba(0, 0, 0, 0.1);
}

.screen-reader-text {
    position: absolute;
    top: -9999em;
    left: -9999em;
}
    
@keyframes bgshadow {
  0% {
    box-shadow: inset -160px 160px 0px 5px rgba(0, 0, 0, 0.4);
  }
  45% {
    box-shadow: inset 0px 0px 0px 0px rgba(0, 0, 0, 0.1);
  }
  55% {
    box-shadow: inset 0px 0px 0px 0px rgba(0, 0, 0, 0.1);
  }
  100% {
    box-shadow: inset 160px -160px 0px 5px rgba(0, 0, 0, 0.4);
  }
}

.zoom-area { 
    max-width: 490px;
    margin: 30px auto 30px;
    font-size: 19px;
    text-align: center;
}

.link-container {
    text-align: center;
}

a.more-link {
    text-transform: uppercase;
    font-size: 13px;
    background-color: var(--color-accent);
    padding: 10px 15px;
    border-radius: 0;
    color: var(--color-light);
    display: inline-block;
    margin-right: 5px;
    margin-bottom: 5px;
    line-height: 1.5;
    text-decoration: none;
    margin-top: 50px;
    letter-spacing: 1px;
    transition: background-color 150ms ease-in-out;
}

a.more-link:hover {
    background-color: var(--color-dark);
}


/* Carousel CSS */

.carousel {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

.carousel img  {
    width: 80%;
    aspect-ratio: 3 / 2;
    object-fit: contain;
    margin: auto;
}

.carousel-indicators {
    position: absolute;
    bottom: -10%;
}

@media (max-width: 600px) {
    .certificates {
        padding: 2em 0;
    }

    .carousel-indicators {
        display: none;
    }
}
